<div class="jumbotron-bg">
  <div class="jumbotron-text-wrapper">
    <h1>One developments</h1>
    <h3 class="d-none d-md-block">{{'HOME.LUXURY_LIVING' |translate}}</h3>
  </div>

  <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)"
    #owlCar>
    <ng-template carouselSlide>
      <div class="slide" style="background-image:
        url(../../assets/img/PremiumOne-Delivering12-2021/project2.1.jpg)">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide" style="background-image:
        url(../../assets/img/Project/headers/header19.jpg)"></div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide" style="background-image:
        url(../../assets/img/Project/headers/Header21.jpg)"></div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide" style="background-image:
        url(../../assets/img/Project/headers/Header53.jpg)"></div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide" style="background-image:
        url(../../assets/img/Project/headers/Header88.jpg)">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide" style="background-image:
        url(../../assets/img/Project/headers/Header138.jpg)">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide" style="background-image:
        url(../../assets/img/Project/headers/Header264.jpg)">
      </div>
    </ng-template>
  </owl-carousel-o>


  <div id="counter">
    <h1>0{{ currentSlide }}</h1>
    <h3>/7</h3>
  </div>

  <a href="#aboutus" class="primary-link white"><img
      src="../../assets/img/secLink.svg"> {{'HOME.SCROLL_BTN' |translate}}</a>
</div>

<!-- <div class="about-us" id="aboutus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4">
        <h3 class="my-5">{{'HOME.REAL_ESTATE_TITLE' |translate}}</h3>
        <p>{{'HOME.REAL_ESTATE_DESCRIPTION' |translate}}</p>
      </div>
      <div class="col-xl-4">
        <h3 class="my-5">{{'HOME.IMPLEMENTATION_TITLE' |translate}}</h3>
        <p>{{'HOME.IMPLEMENTATION_DESCRIPTION' |translate}}</p>
      </div>
      <div class="col-xl-4">
        <h3 class="my-5">{{'HOME.EXELLENCE_TITLE' |translate}}</h3>
        <p>{{'HOME.EXELLENCE_DESCRIPTION' |translate}}</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-12">
        <a routerLink="about" class="primary-link">{{'HOME.BTN_LEARN_MORE_ABOUT_US'
          |translate}}<img class="ml-5"
            src="../../assets/img/primaryLink.svg"></a>
      </div>
    </div>
  </div>
</div> -->


<div class="our-services">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xl-12">
        <h3 class="mb-4 title">{{'HOME.OUR_PROJECTS_TITLE' |translate}}</h3>
        <p>{{'HOME.OUR_PROJECTS_DESCRIPTION' |translate}}</p>
      </div>
    </div>


    <div class="row our-project-box justify-content-center">
      <div class="col-xl-6 mt-5">
        <div class="primary-box"
          style="background-image:
          url(../../../assets/img/PremiumOne-Delivering12-2021/project2.1.jpg)">
          <div class="overlay"></div>
          <h3>{{'HOME.RESIDENTIAL_TITLE' |translate}}</h3>
          <a [routerLink]="['/projects']" class="primary-link white">{{'HOME.BTN_EXPLORE'
            |translate}}<img class="ml-5"
              src="../../assets/img/secLink.svg"></a>
        </div>
      </div>
      <div class="col-xl-6 mt-5">
        <div class="primary-box" style="background-image:
          url(../../../assets/img/cp.jpg)">
          <div class="overlay"></div>
          <h3>{{'HOME.COMMERCIAL_TITLE' |translate}}</h3>
          <a [routerLink]="['/developments-commercial']"
            class="primary-link white">{{'HOME.BTN_EXPLORE' |translate}}<img
              class="ml-5"
              src="../../assets/img/secLink.svg"></a>
        </div>
      </div>
      <div class="col-xl-6 mt-5">
        <div class="primary-box" style="background-image:
          url(../../../assets/img/institute.jpg)">
          <div class="overlay"></div>
          <h3>{{'HOME.INSTITUTES_TITLE' |translate}}</h3>
          <a [routerLink]="['/institutes']" class="primary-link white">{{'HOME.BTN_EXPLORE'
            |translate}}<img
              class="ml-5" src="../../assets/img/secLink.svg"></a>
        </div>
      </div>
      <div class="col-xl-6 mt-5">
        <div class="primary-box" style="background-image:
          url(../../../assets/img/governmental.jpeg)">
          <div class="overlay"></div>
          <h3>{{'HOME.MILITARY_TITLE' |translate}}</h3>
          <a [routerLink]="['/government']" class="primary-link white">{{'HOME.BTN_EXPLORE'
            |translate}}<img
              class="ml-5" src="../../assets/img/secLink.svg"></a>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="jumbotron-bg2 py-5 container-fluid">
  <div class="row align-items-center h-100">
    <div class="col-xl-7">
      <div class="jumbotron-text-wrapper2">
        <h3 class="mb-4">{{'HOME.OUR_VISION_TITLE' |translate}}</h3>
        <p class="">{{'HOME.OUR_VISION_DESC' |translate}}</p>
        <a routerLink="about" class="primary-btn mt-5">{{'HOME.BTN_KNOW_MORE'
          |translate}}</a>
      </div>
    </div>
  </div>
</div>



<div class="portfolio">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xl-12">
        <h3 class="mb-4 title">{{'HOME.OUR_PORTFOLIO_LATEST' |translate}}</h3>
        <p>{{'HOME.OUR_PORTFOLIO_DESCRIPTION' |translate}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box l-por"
          style="background-image:
          url(../../../assets/img/Project/003_264_A/264-A-main-image.jpg)">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_ONE_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'HOME.PROJ_FOUR_TITLE' |translate}}</h3>
            <p>{{'HOME.PROJ_ONE_DESC' |translate}}</p>
            <a routerLink="projects" class="primary-link mt-4"
              (click)="set_id(4)">{{'HOME.BTN_EXPLORE' |translate}}<img
                class="ml-5" src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box"
          style="background-image:
          url(../../../assets/img/Project/004_26_F/26-f-main-image.jpg)">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_TWO_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'HOME.PROJ_TWO_TITLE' |translate}}</h3>
            <p>{{'HOME.PROJ_TWO_DESC' |translate}}</p>
            <a routerLink="projects" class="primary-link mt-4"
              (click)="set_id(4)">{{'HOME.BTN_EXPLORE' |translate}}<img
                class="ml-5" src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box" style="background-image:
          url(../../../assets/img/Project/005_149_New-Narges/149-G-main-image.jpg)">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_THREE_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'HOME.PROJ_THREE_TITLE' |translate}}</h3>
            <p>{{'HOME.PROJ_THREE_DESC' |translate}}</p>
            <a target="_blank" href="../../assets/pdfs/pdf1.pdf"
              class="primary-link mt-4"
              (click)="set_id(3)">{{'HOME.BTN_EXPLORE' |translate}}<img
                class="ml-5"
                src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box l-por"
          style="background-image:
          url(../../../assets/img/Project/005_149_New-Narges/149-G-main-image.jpg)">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_ONE_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'HOME.PROJ_FOUR_TITLE' |translate}}</h3>
            <p>{{'HOME.PROJ_FOUR_DESC' |translate}}</p>
            <a routerLink="projects" class="primary-link mt-4"
              (click)="set_id(4)">{{'HOME.BTN_EXPLORE' |translate}}<img
                class="ml-5" src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box"
          style="background-image:
          url(../../../assets/img/Project/001_19_O/19-O-main-view.jpg)">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_FIVE_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'HOME.PROJ_FIVE_TITLE' |translate}}</h3>
            <p>{{'HOME.PROJ_FIVE_DESC' |translate}}</p>
            <a routerLink="projects" class="primary-link mt-4"
              (click)="set_id(4)">{{'HOME.BTN_EXPLORE' |translate}}<img
                class="ml-5" src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box" style="background-image:
          url(../../../assets/img/Project/006_E88/88-E-main-image.jpg)">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_SIX_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'HOME.PROJ_SIX_TITLE' |translate}}</h3>
            <p>{{'HOME.PROJ_SIX_DESC' |translate}}</p>
            <a target="_blank" href="../../assets/pdfs/pdf1.pdf"
              class="primary-link mt-4"
              (click)="set_id(3)">{{'HOME.BTN_EXPLORE' |translate}}<img
                class="ml-5"
                src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="row text-center mt-2 pt-5">
      <div class="col-xl-12">
        <h3 class="mb-4 title">{{'HOME.OUR_PORTFOLIO_HISTORY' |translate}}</h3>
        <p>{{'HOME.NEW_OUR_PORTFOLIO_DESCRIPTION' |translate}}</p>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box" style="background-image:
          url(../../assets/img/Project/003_264_A/264-A-main-image.jpg">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_FIVE_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'HOME.PROJ_FIVE_TITLE' |translate}}</h3>
            <a routerLink="portfolio" class="primary-link mt-4">{{'HOME.BTN_EXPLORE'
              |translate}}<img class="ml-5"
                src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box" style="background-image:
          url(../../assets/img/institute.jpg)">

          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_SIX_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'PROJECTS.INSTITUTES_DEVELOPMENTS_TITLE' |translate}}</h3>
            <a routerLink="portfolio" class="primary-link mt-4">{{'HOME.BTN_EXPLORE'
              |translate}}<img class="ml-5"
                src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mt-5">
        <div class="project-box" style="background-image:
          url(../../../assets/img//new/Suez-Canal.jpg)">
          <div class="overlay"></div>
          <div class="text-wrapper">
            <p>{{'HOME.PROJ_SEVEN_LUNCH_DATE' |translate}}</p>
            <div class="vl"></div>
            <h3>{{'PROJECTS.Government_DEVELOPMENTS_LI_FOUR' |translate}}</h3>
            <a routerLink="portfolio" class="primary-link mt-4">{{'HOME.BTN_EXPLORE'
              |translate}}<img class="ml-5"
                src="../../assets/img/primaryLink.svg"></a>
          </div>
        </div>
      </div>

    </div> -->
    <!-- <div class="row my-2">
      <div class="col-xl-12">
        <a routerLink="/portfolio" class="primary-link">{{'HOME.READ_MORE'
          |translate}}<img class="ml-5"
            src="../../assets/img/primaryLink.svg"></a>
      </div>
    </div> -->
  </div>
</div>


<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.1601622326616!2d31.402287515114203!3d30.00355718189717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDAwJzEyLjgiTiAzMcKwMjQnMTYuMSJF!5e0!3m2!1sen!2seg!4v1563707551873!5m2!1sen!2seg"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!--   (click)="set_id(7)"
 (click)="set_id(6)"
(click)="set_id(5)"
-->