<section class="about-section explore">
  <div class="section-header container-fluid" style="background-image: url(../../../assets/img/institute2.JPG);">
    <div class="overlay"></div>
    <h1 class="overlay-title">{{'PROJECTS.INSTITUTES_DEVELOPMENTS_HEADER' |translate}}</h1>
  </div>
  <div class="development-history container">
    <div class="row">
      <div class="col-lg-6 order-one">
        <div class="development-history-containt">
          <p>{{'PROJECTS.INSTITUTES_DEVELOPMENTS_DESCRIPTION_ONE' |translate}}</p>
          <p>{{'PROJECTS.INSTITUTES_DEVELOPMENTS_DESCRIPTION_TWO' |translate}}</p>
          <p>{{'PROJECTS.INSTITUTES_DEVELOPMENTS_DESCRIPTION_THREE' |translate}}</p>
          <h3>{{'PROJECTS.INSTITUTES_DEVELOPMENTS_TITLE' |translate}}</h3>
          <p>{{ 'PROJECTS.INSTITUTES_DEVELOPMENTS_BODY'  |translate}}</p>

        </div>
      </div>
      <div class="col-lg-6 order-two">
        <div class="development-history-img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"
                style="background-image: url(../../../assets/img/new/slideer/academy-celebrate-celebration-267885.jpg);">
              </div>
              <div class="swiper-slide"
                style="background-image: url(../../../assets/img/new/slideer/audience-b-business-training-1181395.jpg);">
              </div>
              <div class="swiper-slide"
                style="background-image: url(../../../assets/img/new/slideer/nathan-dumlao-xPHmmVKS8lM-unsplash.jpg);">
              </div>
              <div class="swiper-slide"
                style="background-image: url(../../../assets/img/new/slideer/sinai-school.jpeg);">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of row  -->
    </div>
  </div>

</section>