<section class="about-section">
  <div class="section-header container-fluid">

    <h1 class="overlay-title">{{'ABOUTUS.TITLE_PAGE' |translate}}</h1>
    <div class="layout"></div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="logo-one-container">
        <img src="../../../assets/img/1-Dev.gif">
      </div>
      <h2 class="text-center font-weight-bolder">Inspiring Future</h2>
    </div>
  </div>

  
  <div class="development-history container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-one">
        <div class="development-history-containt">
          <h3>{{'ABOUTUS.ABOUT_TITLE' |translate}}</h3>
          <p>{{'ABOUTUS.ABOUT_DESCRIPTION_PARAGRAPH1' |translate}}</p>
          <p>{{'ABOUTUS.ABOUT_DESCRIPTION_PARAGRAPH2' |translate}}</p>
        </div>
      </div>
      <div class="col-lg-6 order-two">
        <div class="development-history-img"
          style="background-image: url(../../../assets/img/new/photo-1527199768775-bdabf8b32f61.jpg)">
        </div>
      </div>
      <!-- end of row  -->
    </div>
    <br>
  </div>
  <div class="container">
    <div class="vision-container text-center my-4">
      <div class="vision-header">
        <h3 class="font-weight-bolder">{{'HOME.OUR_VISION_TITLE' |translate}}</h3>
      </div>
      <div class="vision-body">
        <p>{{'HOME.OUR_VISION_DESC' |translate}}</p>
      </div>
    </div>
  </div>





</section>