<section class="about-section explore">
  <div class="section-header container-fluid" style="background-image: url(../../../assets/img/commercial.jpg);">
    <div class="overlay"></div>
    <h1 class="overlay-title">{{'PROJECTS.COMMERCIAL_HEADER' | translate}}</h1>
  </div>
  <div class="development-history container">
    <div class="row">
      <div class="col-lg-6 order-one">
        <div class="development-history-containt">
          <p>{{ 'PROJECTS.COMMERCIAL_DESCRIPTION' | translate}}
          </p>
          <h3>{{ 'PROJECTS.COMMERCIAL_SUBTITLE' | translate}}</h3>
          <p>{{ 'PROJECTS.COMMERCIA_DESCRIPTION2' | translate}}</p>
        </div>
      </div>
      <div class="col-lg-6 order-two">
        <!-- <div class="development-history-img" style="background-image: url(../../../assets/img/capital-logo.png);"> -->
        <!-- </div> -->
        <div class="img-container">
          <img src="../../../assets/img/capital-logo.png">
        </div>

      </div>
      <!-- end of row  -->
    </div>
  </div>

  <section id="section4" class="screen_height mt-3" style="min-height: fit-content; margin-bottom: 0; padding-bottom: 35px;">
    <div class="row justify-content-md-center">
      <div class="col-md-4 full_width mt-2">
        <div class="overlay ">
          <a target="_blank" href="https://capitalprimeeg.com/admin.html"><button
              class="solution_btn">{{'PROJECTS.ADMINISTRATIVE_SOLUTIONS' | translate}}</button></a>
        </div>
        <div class="img1"></div>
      </div>
      <div class="col-md-4 full_width mt-2">
        <div class="overlay ">
          <a target="_blank" href="https://capitalprimeeg.com/retail.html"><button
              class="solution_btn">{{'PROJECTS.RESIDENTIAL_SOLUTIONS' |translate}}</button></a>
        </div>
        <div class="img3"></div>
      </div>
      <div class="col-md-4 full_width mt-2">
        <div class="overlay ">
          <a target="_blank" href="https://capitalprimeeg.com/medical.html"><button class="solution_btn">
              {{'PROJECTS.MEDICAL_SOLUTIONS' |translate}}
            </button></a>
        </div>
        <div class="img4"></div>
      </div>
    </div>
  </section>
</section>