<section class="about-section explore">
  <div
    class="section-header container-fluid"
    style="background-image: url(../../../assets/img/landing/D124/D-124.png)"
  >
    <div class="overlay"></div>
    <!-- <h1></h1> -->
    <!-- <div class="overlay-title"> -->
    <div class="overlay-base">
      <h1 class="overlay-title">
        شكراً لتواصلكم مع

        <br />
        One Developments
      </h1>
      <!-- <br /> -->
      <h3 class="overlay-title">سيقوم أحد مندوبينا بالاتصال بكم</h3>
      <!-- <br /> -->
      <a href="https://one-dev.com" class="width-thirty">
        <button
          [disabled]="varform.invalid"
          (click)="subForm(varform)"
          type="submit"
          class="primary-btn submit"
          id="btn-sub"
        >
          الذهاب إلى الموقع
        </button>
      </a>
    </div>
    <!-- </div> -->
  </div>
  <!--  -->
</section>
