<section class="about-section explore">
  <div class="section-header container-fluid" style="background-image: url(../../../assets/img/governmental.jpeg);">
    <div class="overlay"></div>
    <h1 class="overlay-title">{{'PROJECTS.Government_DEVELOPMENTS_HEADER' |translate}}</h1>
  </div>
  <div class="development-history container">
    <div class="row">
      <div class="col-lg-6 order-one">
        <div class="development-history-containt">
          <p>{{'PROJECTS.Government_DEVELOPMENTS_TITLE' |translate}}</p>
          <ul>
            <label>{{'PROJECTS.Government_DEVELOPMENTS_LABEL' |translate}}</label>
            <li>{{'PROJECTS.Government_DEVELOPMENTS_LI_ONE' |translate}}</li>
            <li>{{'PROJECTS.Government_DEVELOPMENTS_LI_TWO' |translate}}</li>
            <li>{{'PROJECTS.Government_DEVELOPMENTS_LI_THREE' |translate}}</li>
            <li>{{'PROJECTS.Government_DEVELOPMENTS_LI_FOUR' |translate}}</li>
            <li>{{'PROJECTS.Government_DEVELOPMENTS_LI_FIVE' |translate}}</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 order-two">
        <div class="development-history-img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"
                style="background-image: url(../../../assets/img/new/new-capital-Road-construction.jpg);"></div>

              <div class="swiper-slide" style="background-image: url(../../../assets/img/new/images.jpg);">
              </div>
              <div class="swiper-slide" style="background-image: url(../../../assets/img/new/Suez-Canal.jpg);"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of row  -->
    </div>
  </div>

</section>