<section class="about-section explore">
  <div
    class="section-header container-fluid"
    style="background-image: url(../../../assets/img/landing/Slide-1.png)"
  >
    <div class="overlay"></div>
    <!-- <h1></h1> -->
    <h1 class="overlay-title">
      138-139B
      <br />
      بيت الوطن، التجمع الخامس
    </h1>
  </div>
  <div class="development-history container">
    <!-- <div class="row"> -->
    <div class="col-lg-12 order-one">
      <div class="row pic-row">
        <div class="col-lg-6">
          <img
            width="100%"
            class="pic-card"
            src="../../../assets/img/landing/Img-1.png"
          />
        </div>
        <div class="col-lg-6">
          <img
            width="100%"
            class="pic-card"
            src="../../../assets/img/landing/Img-2.png"
          />
        </div>
      </div>
      <!-- </div> -->
    </div>
    <!-- <div class="row"> -->

    <!-- </div> -->

    <div class="col-lg-12">
      <div class="logo-one-container">
        <img src="../../../assets/img/1-Dev.gif" />
      </div>
      <h2 class="text-center font-weight-bolder">
        Developments and Constructions
      </h2>
      <br />
      <div class="development-history-containt">
        <br />
        <h5>
          • الموقع: بيت الوطن - التجمع الخامس - القاهرة الجديدة.
          <br />
          • يقع بيت الوطن في أفضل مواقع القاهرة الجديدة على التسعين الشمالي
          شمالا طريق السويس وغربا الدائري الاوسطي وجنوبا محور بن زايد.
          <br />
          • يعد مكان راقي للسكن والحياة. <br />
          <br />
        </h5>
        <h3>المشروع:</h3>
        <!-- <br /> -->
        <h5>
          • يقدم مجموعة مختلفة من المساحات للوحدات. <br />
          • كل الوحدات لها مساحة مخصصة بالجراج ومخزن. <br />
          • يقع المشروع على حدائق ومحاور رئيسية و قريبة من جميع الخدمات. <br />
          • تصميم عصري للواجهات ومواصفات تشطيب علي اعلي مستوي - بوابات بالريموت
          - دش مركزي – اسانسيرات – مداخل فاخرة رخام – خزانات مياة – انتركم مرئي
          وغيرها من الخدمات المميزة
          <br />
          <br />
        </h5>
        <h3>الشركة:</h3>

        <!-- <br /> -->
        <h5>
          • اكثر من ٤٠ عامل خبر في التطوير العقاري. في تطوير العديد من المشروعات
          السكنية في كثير من مدن واحياء القاهرة المختلفة، مشروعات وابراج سكنية
          في مصر الجديدة ومدينة نصر والمعادي ومن بعدهم المدن الجديدة وابرزها
          القاهرة الجديدة.
          <br />
          • تطوير اكثر من ٢٥ مشروع بالتجمع الخامس بالقاهرة الجديدة بالنرجس
          الجديدة وبيت الوطن <br />
          تعد احد اهم اذرع المقاولات في كثير من المشروعات القومية المصرية تحت •
          مظلة الأمانة العامة للقوات المسلحة المصرية. <br />
          • صاحبة عباءة مالية بحجم استثمارات في مختلف القطاعات منها التعليمي
          بسلسلة مدارس سينا سكول ومعاهد العلوم التجارية والحاسب الالي
          بالإسماعيلية والعريش وأخيرا المدرسة البريطانية الدولية بالعاصمة
          الإدارية الجدية. <br />
          • تطوير باقة من المشروعات التجارية والإدارية بالعاصمة الإدارية الجديدة
          منها مشروع كابيتال برايم والذي يعد ايقونة منطقة ال MU23 <br />
          <br />
        </h5>
        <h3>خطط السداد والتقسيط:</h3>
        <h5>
          <!-- <br /> -->
          مقدم يبدأ من 15% مقدم وأنظمة سداد متساوية تصل إلي 7 سنوات. <br />
        </h5>
        <br />
        <h3>للإتصال:</h3>
        <h5>
          <!-- <br /> -->
          16251 او 01114888783 <br />
        </h5>
      </div>
    </div>
  </div>

  <div class="development-history container">
    <div class="col-xl-12">
      <div class="development-history-containt">
        <h3>{{ "LANDING.CONTACT" | translate }}</h3>
      </div>
      <div class="form-body">
        <form id="ContactUs-Form" #varform="ngForm" ngSubmit="subForm(varform)">
          <div class="form-group">
            <input
              ngModel
              #fullname="ngModel"
              name="full_name"
              type="text"
              class="form-control"
              id="name"
              placeholder="{{ 'CONTACTUS.PLACEHOLDER_FULLNAME' | translate }}"
              required
              (keypress)="keyPressStr($event)"
            />
            <p
              *ngIf="fullname.invalid && fullname.touched"
              style="color: #ff7878"
            >
              {{ "CONTACTUS.ERORR_MSG_FULLNAME" | translate }}
            </p>
          </div>

          <div class="form-group">
            <input
              ngModel
              #phone="ngModel"
              name="phone"
              type="tel"
              class="form-control"
              id="phone"
              placeholder="{{
                'CONTACTUS.PLACEHOLDER_MOBILE_NUMBER' | translate
              }}"
              required
              minlength="5"
              maxlength="15"
              (keypress)="keyPressNum($event)"
            />
            <p *ngIf="phone.invalid && phone.touched" style="color: #ff7878">
              {{ "CONTACTUS.ERORR_MSG_PHONE" | translate }}
            </p>
            <p
              *ngIf="phone.invalid && phone.touched && phone.errors?.minlength"
              style="color: #ff7878"
            >
              {{ "CONTACTUS.ERORR_MSG_PHONE_2" | translate }}
            </p>
            <p
              *ngIf="phone.invalid && phone.touched && phone.errors?.maxlength"
              style="color: #ff7878"
            >
              {{ "CONTACTUS.ERORR_MSG_PHONE_3" | translate }}
            </p>
          </div>
          <div class="form-group">
            <input
              ngModel
              #email="ngModel"
              name="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="{{ 'CONTACTUS.PLACEHOLDER_EMAIL' | translate }}"
              email
            />
            <p
              *ngIf="email.touched && email.errors?.required"
              style="color: #ff7878"
            >
              {{ "CONTACTUS.ERORR_MSG_EMAIL" | translate }}
            </p>
            <p
              *ngIf="email.touched && email.errors?.email"
              style="color: #ff7878"
            >
              {{ "CONTACTUS.ERORR_MSG_EMAIL_2" | translate }}
            </p>
          </div>

          <button
            [disabled]="varform.invalid"
            (click)="subForm(varform)"
            type="submit"
            class="primary-btn submit"
            id="btn-sub"
          >
            {{ "CONTACTUS.BTN_SUBMIT" | translate }}
          </button>
          <div *ngIf="!showMsg">
            <p *ngFor="let e of errorMsg | keyvalue" style="color: #ff7878">
              *{{ e.key | titlecase }}{{ e.value[0] | titlecase }}
            </p>
          </div>
        </form>
      </div>
    </div>
    <br />
    <br />
  </div>
  <!-- <br /> -->
  <div class="row map-row">
    <div
      class="col-lg-12"
      style="
        background-image: url(../../../assets/img/landing-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <!-- <div class="development-history-containt">
          <h3>Location</h3>
        </div> -->
      <div class="row map-row-item">
        <div class="col-lg-12">
          <img
            width="100%"
            class="pic-card"
            src="../../../assets/img/landing/Beit-el-Watan.png"
          />
        </div>
      </div>
      <br />
      <div class="row map-row-item">
        <div class="col-lg-4">
          <img
            width="100%"
            class="pic-card"
            src="../../../assets/img/landing/3.png"
          />
        </div>
        <div class="col-lg-4">
          <img
            width="100%"
            class="pic-card"
            src="../../../assets/img/landing/1.png"
          />
        </div>
        <div class="col-lg-4">
          <img
            width="100%"
            class="pic-card"
            src="../../../assets/img/landing/2.png"
          />
        </div>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
  <div class="row map-row-item">
    <div class="col-lg-6">
      <img
        width="100%"
        class="pic-card"
        src="../../../assets/img/landing/4.png"
      />
    </div>
    <div class="col-lg-6">
      <img
        width="100%"
        class="pic-card"
        src="../../../assets/img/landing/5.png"
      />
    </div>
  </div>
</section>
<footer>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-xl-3"></div> -->
      <div class="col-xl-12">
        <div class="left">
          <p>
            {{ "FOOTER.POWERED_BY_AZ_STUDIOS_3" | translate }}
          </p>
        </div>
      </div>
      <!-- <div class="col-xl-3"></div> -->
    </div>
  </div>
</footer>
<!-- <ul>
            <label>{{
              "PROJECTS.Government_DEVELOPMENTS_LABEL" | translate
            }}</label>
            <li>{{ "PROJECTS.Government_DEVELOPMENTS_LI_ONE" | translate }}</li>
            <li>{{ "PROJECTS.Government_DEVELOPMENTS_LI_TWO" | translate }}</li>
            <li>
              {{ "PROJECTS.Government_DEVELOPMENTS_LI_THREE" | translate }}
            </li>
            <li>
              {{ "PROJECTS.Government_DEVELOPMENTS_LI_FOUR" | translate }}
            </li>
            <li>
              {{ "PROJECTS.Government_DEVELOPMENTS_LI_FIVE" | translate }}
            </li>
          </ul> -->
<!-- <div class="col-lg-6 order-two">
        <div class="development-history-img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                style="
                  background-image: url(../../../assets/img/new/new-capital-Road-construction.jpg);
                "
              ></div>

              <div
                class="swiper-slide"
                style="
                  background-image: url(../../../assets/img/new/images.jpg);
                "
              ></div>
              <div
                class="swiper-slide"
                style="
                  background-image: url(../../../assets/img/new/Suez-Canal.jpg);
                "
              ></div>
            </div>
          </div>
        </div>
      </div> -->
<!-- end of row  -->
